[package]
name = "fluent-template-macros"
version = "0.6.0"
authors = ["XAMPPRocky <xampprocky@icloud.com>"]
edition = "2018"
description = "Macro Templating for the Fluent localization framework"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/fluent-templates/"
repository = "https://github.com/XAMPPRocky/fluent-templates"
keywords = ["handlebars", "tera", "fluent", "internationalization", "localization"]
categories = ["internationalization", "localization", "template-engine"]

[lib]
proc-macro = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
quote = "1.0.15"
syn = { version = "1.0.88", features = ["full"] }
proc-macro2 = "1.0.36"
once_cell = "1.10.0"
ignore = "0.4.16"
flume = "0.10.12"
unic-langid = "0.9.0"
